{% for node in site.pages %}
    {% if node.title != null %}

        {% assign prefix = section.code | append: "/" %}

        {% if node.permalink contains prefix %}

            {% assign translations = site.data.core[code] %}

            <div class="item item-{{ section.color }} col-lg-4 col-6">
                <div class="item-inner">
                    <div class="icon-holder">
                        <i class="icon {{ section.icon }}"></i>
                    </div>

                    <h3 class="title">{{ site.data.core[section.code].title }}</h3>
                    <p class="intro">{{ site.data.core[section.code].subtitle }}</p>
                    <a class="link" href="{{ section.path }}.html"><span></span></a>
                </div>
            </div>

            {% break %}

        {% endif %}
    {% endif %}
{% endfor %}


