---
layout: default
---

<section class="cards-section text-center pt-2">

    <!-- Container -->
    <div class="container">

        {% include home/logo.liquid %}             

        <h2 class="title">
            {{ site.github.project_title }}
        </h2>
        
        <div class="intro">
            {% include home/description.liquid %}
            {% include home/links.liquid %}
        </div>

        <!--Home Cards -->
        <div id="cards-wrapper" class="cards-wrapper row justify-content-center">

            {% for section in site.data.sections.main %}
                {%- include home/card_section.liquid -%}
            {% endfor %}

            {%- include home/card_objects.liquid -%}

            {% for section in site.data.sections.secondary %}
                {%- include home/card_section.liquid -%}
            {% endfor %}

            {%- include home/card_credits.liquid -%}

        </div>
        <!--End Home -->

        {%- include home/posts.liquid -%}
        
    </div>
    <!-- End Container -->

</section>
