

{% assign pages_list = site.pages %}
{% assign written = "" | split: '' %}

{% for node in pages_list %}
	{% if written contains node.title %}
		{% continue %}
    {% endif %}

    {% if node.title != null %}

		{% assign prefix = section.code | append: "/" %}
      	{% if node.permalink contains prefix %}


			<!-- Section Contents -->
			<section id="{{ node.title | slugify }}" class="doc-section">

			    <h2 class="section-title">{{ node.title }}</h2>
			    
			    <div class="section-block lightbox-content">
			    	{{ node.content | markdownify }}
			    </div>

			</section>
			<!--End Section Contents -->

		{% endif %}

		{% assign written = written | push: node.title %}

	{% endif %}
{% endfor %}
