

<!-- Section Menu -->
<nav id="doc-menu" class="nav doc-menu flex-column sticky">

<div class="h5 block-title mt-5 text-orange">{{ site.data.core[sectionCode].title }}</div>

      {% assign pages_list = site.pages %}
      {% assign written = "" | split: '' %}
      {% for node in pages_list %}
        {% if written contains node.title %}
          {% continue %}
        {% endif %}
        {% if node.title != null %}

            {% assign prefix = section.code | append: "/" %}
            {% if node.permalink contains prefix %}
                <a class="nav-link scrollto{% if page.url == node.url %} active{% endif %}"
                  href="#{{ node.title | slugify}}">
                  {{ node.title }}
                </a>
            {% endif %}

          {% assign written = written | push: node.title %}
        {% endif %}
      {% endfor %}
      

</nav>
<!--End Section Menu -->

