
{% for item in site.data.sections.main %}
    {% if item.code == sectionCode %}
        {%  assign section = item %}
    {% endif %}
{% endfor %}

{% for item in site.data.sections.secondary %}
    {% if item.code == sectionCode %}
        {%  assign section = item %}
    {% endif %}
{% endfor %}

{% if section != null %}

    <div id="doc-header" class="doc-header text-center">
        <h1 class="doc-title"><i class="icon {{ section.icon }}"></i>&nbsp;{{ site.data.core[sectionCode].title }}</h1>
        <div class="meta">{{ site.data.core[sectionCode].subtitle }}</div>
    </div>


    <div class="dev-body row">

        <!-- Dev Content -->
        <div class="doc-content col-md-9 col-12 order-1">
            <div class="content-inner {{ section.code }}-content">
                {%- include sections/contents.liquid -%}
            </div>
        </div>
        <!-- End Dev Content -->

        <!-- Dev Sidebar -->
        <div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
            <div id="doc-nav" class="doc-nav">
                {%- include sections/menu.liquid -%}
            </div>
        </div>
        <!-- End Dev Sidebar -->

    </div>
{% endif %}

